1. Introduction to Pandas
Objective: What is pandas, and why do we use it?

Explain:

Python library for data manipulation and analysis.

Built on top of NumPy.

In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\roger\anaconda3\lib\site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\roger\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\roger\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\roger\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\roger\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\roger\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
import pandas as pd

In [3]:
#Creating Data Structures
import pandas as pd

# Create a Series
data = [10, 20, 30, 40]
s = pd.Series(data)
print(type(s))

<class 'pandas.core.series.Series'>

In [8]:
#DataFrame (2D)
# Create a DataFrame from a dictionary
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['Delhi', 'Mumbai', 'Chennai']
}

df = pd.DataFrame(data)
print(df)
# type(data)

      Name  Age     City
0    Alice   25    Delhi
1      Bob   30   Mumbai
2  Charlie   35  Chennai

In [9]:
#Reading and Writing Files
df = pd.read_csv('data.csv')      # Read
df.to_csv('output.csv', index=False)  # Write

FileNotFoundError: [Errno 2] No such file or directory: 'data.csv'

In [ ]:
# B. Excel
df = pd.read_excel('data.xlsx')  # Read
df.to_excel('output.xlsx')       # Write

In [37]:
df.head()       # First 5 rows
df.tail()       # Last 5 rows
df.shape        # (rows, columns)
df.columns      # Column names
df.dtypes       # Data types
df.info()       # Summary
df.describe()   # Stats summary

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
 2   City    3 non-null      object
dtypes: int64(1), object(2)
memory usage: 204.0+ bytes

        Age
count   3.0
mean   30.0
std     5.0
min    25.0
25%    27.5
50%    30.0
75%    32.5
max    35.0

In [11]:
#5. Selecting Data
df['Name']
df[['Name', 'City']]

      Name         City
0    Alice     New York
1      Bob  Los Angeles
2  Charlie      Chicago

In [38]:
df.loc[0]           # By label/index
df.iloc[0]          # By position
df[0:2]             # Slice rows

    Name  Age    City
0  Alice   25   Delhi
1    Bob   30  Mumbai

In [17]:
df[df['Age'] > 30]
df[(df['Age'] > 25) & (df['City'] == 'Delhi')]

Empty DataFrame
Columns: [Name, Age, City]
Index: []

In [39]:
df['Age'] = df['Age'] + 1               # Update column
df['Country'] = 'India'                # Add new column
df.drop('Country', axis=1, inplace=True)  # Remove column

In [40]:
df

      Name  Age     City
0    Alice   26    Delhi
1      Bob   31   Mumbai
2  Charlie   36  Chennai

In [42]:
df.isnull()
df.dropna()           # Remove missing rows
df.fillna(0)          # Fill missing with 0

      Name  Age     City
0    Alice   26    Delhi
1      Bob   31   Mumbai
2  Charlie   36  Chennai

In [23]:
# GroupBy and Aggregation
df.groupby('City')['Age'].mean()
df.groupby('City').agg({'Age': ['mean', 'max']})

              Age
             mean max
City
Chicago      36.0  36
Los Angeles  26.0  26
New York     31.0  31

In [ ]:
np.array([1, 2, 3])  # Create a NumPy array
print(type(np.array([1, 2, 3])))  # Check type
matrix=np.array([[1,2], [3,4]])  # 2D array
print(matrix)
print(matrix.ndim)  # Number of dimensions
print(matrix.shape)  # Shape of the array
print(matrix.size)  # Total number of elements  
print(matrix.dtype)  # Data type of elements
#np.zeros((2, 3))  # Create a 2D array of zeros
np.ones((2, 3))   # Create a 2D array of ones
np.arange(0, 10, 2)  # Create an array with a range of values
np.linspace(0, 1, 5)  # Create an array with evenly spaced
np.eye(3)  # Create a 3x3 identity matrix
np.full((2, 3), 7)  # Create a 2D array filled with 7