In [21]:
fruits = ["apple", "banana", "orange", "mango", "kiwi"]
print(fruits)

['apple', 'banana', 'orange', 'mango', 'kiwi']

In [22]:
fruits.append("grapes")
print( fruits)

['apple', 'banana', 'orange', 'mango', 'kiwi', 'grapes']

In [23]:
fruits.insert(1, "watermelon")
print( fruits)

['apple', 'watermelon', 'banana', 'orange', 'mango', 'kiwi', 'grapes']

In [24]:
fruits.extend(["pineapple", "papaya"])
print( fruits)

['apple', 'watermelon', 'banana', 'orange', 'mango', 'kiwi', 'grapes', 'pineapple', 'papaya']

In [25]:
fruits.remove("banana")
print( fruits)

['apple', 'watermelon', 'orange', 'mango', 'kiwi', 'grapes', 'pineapple', 'papaya']

In [26]:
last_fruit = fruits.pop()
print("Popped:", last_fruit)
print(" List after pop:", fruits)

Popped: papaya
 List after pop: ['apple', 'watermelon', 'orange', 'mango', 'kiwi', 'grapes', 'pineapple']

In [27]:
fruits.sort()
print("7.", fruits)

7. ['apple', 'grapes', 'kiwi', 'mango', 'orange', 'pineapple', 'watermelon']

In [28]:
fruits.reverse()
print( fruits)

['watermelon', 'pineapple', 'orange', 'mango', 'kiwi', 'grapes', 'apple']

In [29]:
apple_count = fruits.count("apple")
print(" 'apple' occurs", apple_count, "times")

 'apple' occurs 1 times

In [30]:
first_three = fruits[:3]
print( first_three)# print only the first three elements.

['watermelon', 'pineapple', 'orange']

# tuple

In [31]:
cities = ("New York", "London", "Mumbai", "Tokyo", "Sydney")
print(cities)

('New York', 'London', 'Mumbai', 'Tokyo', 'Sydney')

In [32]:
third_city = cities[2]
print("3rd city:", third_city)

3rd city: Mumbai

In [33]:
has_mumbai = "Mumbai" in cities
print("Contains 'Mumbai':", has_mumbai)

Contains 'Mumbai': True

In [34]:
# Fourth one don't know

In [35]:
animals1 = ("cat", "dog")
animals2 = ("parrot", "rabbit")
all_animals = animals1 + animals2
print( all_animals)

('cat', 'dog', 'parrot', 'rabbit')

In [36]:
repeated = animals1 * 3

print( repeated)

('cat', 'dog', 'cat', 'dog', 'cat', 'dog')

In [37]:
length = len(cities)
print("Length of cities tuple:", length)

Length of cities tuple: 5

In [38]:
cities_list = list(cities)

print(cities_list)

['New York', 'London', 'Mumbai', 'Tokyo', 'Sydney']

In [39]:
rgb = ("red", "green", "blue")
r, g, b = rgb
print( r, g, b)

red green blue

In [40]:
nested = (1, 2, (3, 4, 5))
inner_element = nested[2][1]
print("Inner element:", inner_element)

Inner element: 4

# Set

In [41]:
colors = {"red", "green", "blue", "yellow", "orange"}
print(colors)

{'yellow', 'green', 'red', 'orange', 'blue'}

In [42]:
colors.add("black")
print(colors)

{'yellow', 'green', 'red', 'orange', 'black', 'blue'}

In [43]:
colors.update({"white", "purple"})
print(colors)

{'yellow', 'green', 'red', 'white', 'orange', 'black', 'purple', 'blue'}

In [44]:
colors.remove("red")
print( colors)

{'yellow', 'green', 'white', 'orange', 'black', 'purple', 'blue'}

In [45]:
colors.discard("orange")
print(colors)

{'yellow', 'green', 'white', 'black', 'purple', 'blue'}

In [46]:
popped_color = colors.pop()
print("Popped:", popped_color)
print(" Set after pop:", colors)

Popped: yellow
 Set after pop: {'green', 'white', 'black', 'purple', 'blue'}

In [47]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print("Union:", union_set)

Union: {1, 2, 3, 4, 5}

In [48]:
intersection_set = set1.intersection(set2)
print("Intersection:", intersection_set)

Intersection: {3}

In [49]:
difference_set = set1.difference(set2)
print("Difference:", difference_set)

Difference: {1, 2}

In [50]:
colors.clear()
print("Cleared set:", colors)

Cleared set: set()

# Class Work

In [51]:
mark = int(input("Enter 'mark' to finish: "))
if mark >= 90:
    print("Grade: A")
elif mark >= 80:
    print("Grade: B")
elif mark >= 70:
    print("Grade: C")
elif mark >= 60:
    print("Grade: D")

Grade: B

In [52]:
# BMI calculator
weight = float(input("Enter your weight in kilograms: "))
height_cm = float(input("Enter your height in cm: "))
height = height_cm / 100 
bmi = weight / (height ** 2)
print("Your BMI is:", round(bmi, 2))

if bmi < 18.5:
    print("Category: Underweight")
elif bmi < 25:
    print("Category: Normal weight")
elif bmi < 30:
    print("Category: Overweight")
else:
    print("Category: Obese")

Your BMI is: 25.38
Category: Overweight