In [ ]:
#Integer (int) Type
a = 10
b = 25

print("Sum:", a + b)
print("Difference:", a - b)
print("Product:", a * b)
print("Quotient:", a / b)
print("Is 'a' greater than 'b'", a > b)

Sum: 35
Difference: -15
Product: 250
Quotient: 0.4
Is 'a' greater than 'b' False
Value of 'c': False

## The round() function cuts the number to the number of decimals you want.

In [ ]:
#Float (float) Type
x = 15.5
y = 4.2

print("\nAddition:", x + y)
print("Subtraction:", x - y)
print("Multiplication:", x * y)
print("Division:", round(x / y, 2))  # Means: round this number to 2 decimal places â†’ becomes 3.69

Addition: 19.7
Subtraction: 11.3
Multiplication: 65.10000000000001
Division: 3.69

In [3]:
#String (str) Type
full_name = "Roger Samuel"

# Splitting based on space
first_name, last_name = full_name.split()
print("\nFirst Name:", first_name)
print("Last Name:", last_name)
print("Total Characters:", len(full_name))
print("Uppercase:", full_name.upper())
print("Lowercase:", full_name.lower())

First Name: Roger
Last Name: Samuel
Total Characters: 12
Uppercase: ROGER SAMUEL
Lowercase: roger samuel

In [4]:
# Boolean (bool) Type
marks = 85
pass_mark = 40

print("\nDid the student pass?", marks >= pass_mark)
print("Is the mark between 80 and 100?", marks >= 80 and marks <= 100)

Did the student pass? True
Is the mark between 80 and 100? True

In [ ]:
# None type
x = None
print("\nType of x:", type(x))

x = 42
print("New value of x:", x)
print("New type of x:", type(x))

Type of x: <class 'NoneType'>
New value of x: 42
New type of x: <class 'int'>

int

In [6]:
# Type Conversion
print("\nConvert int 5 to float:", float(5))
print("Convert float 9.7 to int:", int(9.7))
print("Convert number 101 to string:", str(101))
print("Convert string '25' to int:", int("25"))

Convert int 5 to float: 5.0
Convert float 9.7 to int: 9
Convert number 101 to string: 101
Convert string '25' to int: 25

In [11]:
# Arithmetic Programming
a = int(input("\nEnter first number: "))
b = int(input("Enter second number: "))
print("a:", a)
print("b:", b)

print("Sum:", a + b)
print("Difference:", a - b)
print("Product:", a * b)
print("Division:", a / b if b != 0 else "Cannot divide by zero")
print("Modulus:", a % b if b != 0 else "Cannot perform modulus with zero")
print("Exponentiation:", a ** b)

a: 10
b: 25
Sum: 35
Difference: -15
Product: 250
Division: 0.4
Modulus: 10
Exponentiation: 10000000000000000000000000

In [12]:
# Variable Types
student_name = "J. Roger Samuel"
roll_number = 112233
percentage = 87.5
is_present = True

print("\nType of student_name:", type(student_name))
print("Type of roll_number:", type(roll_number))
print("Type of percentage:", type(percentage))
print("Type of is_present:", type(is_present))

Type of student_name: <class 'str'>
Type of roll_number: <class 'int'>
Type of percentage: <class 'float'>
Type of is_present: <class 'bool'>

# Append example

In [3]:
fruits = ['apple', 'banana', 'orange', 'grape', 'mango']
print(fruits)

fruits.append('pineapple')
print(fruits)

['apple', 'banana', 'orange', 'grape', 'mango']
['apple', 'banana', 'orange', 'grape', 'mango', 'pineapple']

# NESTED TUPLE

In [11]:
NestedT =(1, 2, ("pop", "rock") ,(3,4),("disco",(1,2)))
print("extracting '1' from NestedT:", NestedT[4][1][0])

extracting '1' from NestedT: 1